api:
  insecure: true
  dashboard: true

providers:
  consulCatalog:
    exposedByDefault: false
    endpoint:
      address: 127.0.0.1:8500
      scheme: http
  file:
    directory: /etc/traefik/common/

entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: :443
  ping:
    address: :8082

ping:
  entryPoint: ping

certificatesResolvers:
  cloudflare:
    acme:
      email: davidsbond93@gmail.com
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare
