group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Enable UI
frontend:

# Enables configuration UI
config:

# Enable mobile app
mobile_app:

# Enable system health
system_health:

# Discover some devices automatically
discovery:

# Enable yaml based dashboards
lovelace:
  mode: yaml

# Allow reverse proxies
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.0.0/24

# Set up recording with sqlite
recorder:
  db_url: !secret db_url
  purge_keep_days: 7

# Enable history with recorder
history:
